
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Gappa is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>e-hospital calandar consultation</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="assets/images/logomedical.jpg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="calendrier.css" />
	<link rel="stylesheet" href="evo-calendar.min.css" />
	<link rel="stylesheet" href="evo-calendar.midnight-blue.min.css" />

	

    <!-- Start css -->
    <!-- Slick css -->
    <link href="assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="assets/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- End css -->
</head>
     <body id="consultation">
    	<!---------start calendar-------------->
		<div class="container">
			<div class="row" class="mt-7">
				<div class="hero">
					<div id="calendar"></div>
				    
				</div>
			</div>
			
		</div>
		<a href="index.html"><img src="assets/images/next.svg" alt="avatar" class="rounded-circle" ></a>
		
	<!---------end calendar-------------->
    <!-- End Chat Layout -->
    <!-- Start js -->        
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/vertical-menu.js"></script>
    <!-- Slick js -->
    <script src="assets/plugins/slick/slick.min.js"></script>
    <!-- Core js -->
    <script src="assets/js/core.js"></script>
    <!-- End js -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="calendrier.js"></script>
	<script src="evo-calendar.min.js"></script>
	<script>
		$(document).ready(function() {
			var consult="37*C"
			var consult1="50"
			var consult2="56"
			var consult3="Critique"
			var consult4="3000"
      $('#calendar').evoCalendar({
		theme:"Midnight Blue",
		calendarEvents: [


      {
        id: 'event1', // Event's ID (required)
        name: "Examen", // Event name (required)
        date: ["January/2/2020", "February/15/2023"], // Event date (required)
		description:`
		La Temperature est ${consult.toUpperCase()}
		La Tension est ${consult1.toUpperCase()}
		La Artérielle est ${consult2.toUpperCase()}
		Le someil est ${consult3.toUpperCase()}
		Le nombre de pas est ${consult4.toUpperCase()}
		  `,
        type: "holiday", // Event type (required)
        everyYear: true, // Same event every year (optional)
		 color: "#63d867"
      },
	  {
        id: 'event2', // Event's ID (required)
        name: "Consultation", // Event name (required)
        date: "January/2/2020", // Event date (required)
		description:"Salut,je m'appel sodinyessi sènou gérard et j'ai un master en science de gestion de projet",
        type: "holiday", // Event type (required)
        everyYear: true ,// Same event every year (optional)
		color:"#f82249"
      },
	  {
        id: 'event3', // Event's ID (required)
        name: "Up date IMC", // Event name (required)
        date: "January/2/2020", // Event date (required)
		description:"Salut,je m'appel sodinyessi sènou gérard et j'ai un master en science de gestion de projet",
        type: "holiday", // Event type (required)
        everyYear: true ,// Same event every year (optional)
		 
      },
      {
        name: "Order",
        badge: "02/13 - 02/15", // Event badge (optional)
        date: ["January/2/2020", "February/15/2021"], // Date range
        description: "Vacation leave for 3 days.", // Event description (optional)
        type: "event",
        color: "#583101",// Event custom color (optional)
      }
    ]
        
    })
})

	</script>
</body>
</html>