
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>e-hospital healthchat</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="assets/images/logomedical.jpg">
    <!-- Start css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- End css -->
</head>
<body   style=" width: 90%; height: 90%;">
    <!-- Start Containerbar -->
    <div class="container" style="background-color: mintcream; width: 90%; height: 90%;  overflow: scroll">
		<div class="row">
			<div class="col-md-12 col-lg-12 "  >  
				<div class="row">
					<div class="modal-body">
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
								  <label for="inputEmail4">Last Name</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="SODINYESSI" aria-label="SODINYESSI" aria-describedby="button-addon-group-username">
								</div>							
							   </div>
								<div class="form-group col-md-6">
									<div class="media-body">
										<p>First Name</p>
										<div class="input-group">
											<input type="text" class="form-control" value="Senou Gerard" aria-label="Senou Gerard" aria-describedby="button-addon-group-username">
										</div>
									</div>
								</div>
							  </div>
							  <div class="form-group">
								<label for="inputAddress">Address</label>
								<div class="input-group">
									<input type="text" class="form-control" value="sodinyessigerard@gmail.com" aria-label="sodinyessigerard@gmail.com" aria-describedby="button-addon-group-username">
								</div>
							  </div>
							  <div class="form-group">
								<label for="inputAddress2">Lieu de résidence</label>
								<div class="input-group">
									<input type="text" class="form-control" value="cotonou(Akpakpa-kpondéhou2) " aria-label="cotonou(Akpakpa-kpondéhou2)" aria-describedby="button-addon-group-username">
								</div>
							  </div>
							  <div class="form-row">
								<div class="form-group col-md-6">
								  <label for="inputCity">L'âge</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="24 ans" aria-label="24 ans" aria-describedby="button-addon-group-username">
								</div>
								</div>
								<div class="form-group col-md-4">
								  <label for="inputState">Groupe Sanguin</label>
								  <select id="inputState" class="form-control">
									<option selected>A</option>
									<option>A+</option>
									<option>A-</option>
									<option>B</option>
									<option>B+</option>
									<option>B-</option>
									<option>AB</option>
									<option>AB+</option>
									<option>AB-</option>
								  </select>
								</div>
								<div class="form-group col-md-2">
								  <label for="inputZip">Taille</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="1,50m" aria-label="1,50m" aria-describedby="button-addon-group-username">
								</div>
								</div>
							  </div>
							  <div class="form-row">
								<div class="form-group col-md-6">
								  <label for="inputCity">Proffession</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="Developer web mobile" aria-label="Developer web mobile" aria-describedby="button-addon-group-username">
								</div>
								</div>
								<div class="form-group col-md-4">
								  <label for="inputState"> Matrimoniale</label>
								  <select id="inputState" class="form-control">
									<option selected>Marié</option>
									<option>Célibataire</option>
									<option>Célibataire sans enfant</option>
									<option>Célibataire avec enfant</option>
									<option>En Couple</option>
								  </select>
								</div>
								<div class="form-group col-md-2">
									<label for="inputState">Le sexe</label>
									<select id="inputState" class="form-control">
									  <option selected>Masculin</option>
									  <option>Féminin</option>
									</select>
								  </div>
							  </div>
							  <div class="form-row">
								<div class="form-group col-md-6">
								  <label for="inputCity">City</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="Will Patinson" aria-label="Will Patinson" aria-describedby="button-addon-group-username">
								</div>
								</div>
								<div class="form-group col-md-4">
								  <label for="inputState">State</label>
								  <select id="inputState" class="form-control">
									<option selected>Choose...</option>
									<option>...</option>
								  </select>
								</div>
								<div class="form-group col-md-2">
								  <label for="inputZip">Zip</label>
								  <div class="input-group">
									<input type="text" class="form-control" value="Will Patinson" aria-label="Will Patinson" aria-describedby="button-addon-group-username">
								</div>
								</div>
							  </div>
							  <div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" id="gridCheck">
								  <label class="form-check-label" for="gridCheck">
									Check me out
								  </label>
								</div>
							  </div>
			
							<div class="form-group">
								<div class="form-group">
									<label for="inputAddress2">Nom et Prenom du Père</label>
									<div class="input-group">
										<input type="text" class="form-control" value="SODINYESSI Agbotoédo" aria-label="SODINYESSI Agbotoédo" aria-describedby="button-addon-group-username">
									</div>
								  </div>          
							</div>
							<div class="form-group col-md-4">
								<label for="inputState">Groupe Sanguin</label>
								<select id="inputState" class="form-control">
								  <option selected>A</option>
								  <option>A+</option>
								  <option>A-</option>
								  <option>B</option>
								  <option>B+</option>
								  <option>B-</option>
								  <option>AB</option>
								  <option>AB+</option>
								  <option>AB-</option>
								</select>
							  </div>
							<div class="form-group">
								<div class="form-group">
									<label for="inputAddress2">Address 2</label>
									<div class="input-group">
										<input type="text" class="form-control" value="Houènon Akponton" aria-label="Houènon Akponton" aria-describedby="button-addon-group-username">
									</div>
								  </div>          
							</div>
							<div class="form-group col-md-4">
								<label for="inputState">Groupe Sanguin</label>
								<select id="inputState" class="form-control">
								  <option selected>A</option>
								  <option>A+</option>
								  <option>A-</option>
								  <option>B</option>
								  <option>B+</option>
								  <option>B-</option>
								  <option>AB</option>
								  <option>AB+</option>
								  <option>AB-</option>
								</select>
							  </div>
							  <div>
								<h1 class="display-4 text-center">
									<i class="fas fa-book-open text-primary"></i> My<span class="text-primary">Exams</span>List</h1>
							 <!-- =======  F.A.Q Section ======= -->
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
										 <div class="panel-group" id="accordion">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									  Collapsible Group 1</a>
									</h4>
								  </div>
								  <div id="collapse1" class="panel-collapse collapse in">
									<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</div>
								  </div>
								</div>
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
									  Collapsible Group 2</a>
									</h4>
								  </div>
								  <div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</div>
								  </div>
								</div>
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
									  Collapsible Group 3</a>
									</h4>
								  </div>
								  <div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</div>
								  </div>
								</div>
							  </div>
								</div>
							</div>
						</div>
								<!-- End  F.A.Q Section -->
									<div id="book-list">
										<p></p>
										<p></p>
										<p></p>
										<p></p>
			
									</div>
							  </div>
							<p class="create-group-header">Add Doctors</p>
							<div class="added-users">
								<div class="avatar-group">
									<div class="avatar">
										<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Cook">
											<img src="assets/images/girl.svg" alt="avatar" class="rounded-circle">
										</a>
									</div>
									<div class="avatar">
										<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Lauren Gotlib">
											<img src="assets/images/men.svg" alt="avatar" class="rounded-circle">
										</a>
									</div>
									<div class="avatar">
										<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Noir Ajkeban">
											<img src="assets/images/women.svg" alt="avatar" class="rounded-circle">
										</a>
									</div>
									<div class="avatar">
										<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add New User">
											<img src="assets/images/more-verticale.svg" alt="avatar" class="rounded-circle">
										</a>
									</div>
								</div>
							</div>
							<div class="add-users-search">
								<div class="input-group">
									<input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="add-users-search-btn">
									<div class="input-group-append">
										<button class="btn" type="submit" id="add-users-search-btn"><img  src="assets/images/search.svg" alt="Generic placeholder image"></button>
									</div>
								</div>
							</div> 
							<div class="add-users-list">
								<ul class="list-unstyled">
									<li class="media">
										<img class="align-self-center rounded-circle" src="assets/images/girl.svg" alt="Generic placeholder image">
										<div class="media-body">
											<h5><span>Emily Cook</span></h5>
											<p>Hey there. I am on Chalty.</p>
										</div>
										<div class="custom-control custom-checkbox">
											<div class="form-check">
												<input
												  class="form-check-input"
												  type="checkbox"
												  value=""
												  id="flexCheckChecked"
												  checked
												/>
												<label class="form-check-label" for="flexCheckChecked">
												  
												</label>
										</div>
									</li>
									<li class="media">
										<img class="align-self-center rounded-circle" src="assets/images/boy.svg" alt="Generic placeholder image">
										<div class="media-body">
											<h5>James Simeron</h5>
											<p>Work mode ON !!</p>
										</div>
										<div class="custom-control custom-checkbox">
											<div class="form-check">
												<input
												  class="form-check-input"
												  type="checkbox"
												  value=""
												  id="flexCheckChecked"
												  checked
												/>
												<label class="form-check-label" for="flexCheckChecked">
							
												</label>
										</div>
									</li>
									<li class="media">
										<img class="align-self-center rounded-circle" src="assets/images/men.svg" alt="Generic placeholder image">
										<div class="media-body">
											<h5>Lauren Gotlib</h5>
											<p>Let's go hiking.</p>
										</div>
										<div class="custom-control custom-checkbox">
											<div class="form-check">
												<input
												  class="form-check-input"
												  type="checkbox"
												  value=""
												  id="flexCheckChecked"
												  checked
												/>
												<label class="form-check-label" for="flexCheckChecked">
												   
												</label>
										</div>
									</li>
									   
								</ul>
								 
							</div>
			
							
						</form>
						<div class="container mt-4">
							<h1 class="display-4 text-center">
							  <i class="fas fa-book-open text-primary"></i> My<span class="text-primary">Book</span>List</h1>
							  <form id="book-form" >
								<div class="form-group">
								  <label for="title">Title</label>
								  <input type="text" id="title" class="form-control">
								</div>
								<div class="form-group">
								  <label for="author">Author</label>
								  <textarea type="text" id="author" class="form-control"></textarea>
								</div>
								<div class="form-group">
								  <label for="isbn">ISBN#</label>
								  <input type="text" id="isbn" class="form-control">
								</div>
								<input type="submit" value="Add Book" class="btn btn-primary btn-block">
								<div class="mt-3 text-center">
									<button type="submit" class="btn btn-primary" id="btn-primary"><img src="assets/images/more-verticale.svg" 
										style="margin-right: 6px;" alt="avatar" class="rounded-circle">Create IMC</button>
								</div>
							  </form>
			
						  </div>
					</div>
	
				</div>
	
			</div>
			</div>
		</div>
	</div>

	
    <!-- End Containerbar -->
    <!-- Start js -->        
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <!-- End js -->
</body>
</html>
	
	
		<!---->
