<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Gappa is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>e-hospital visioconférence</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="assets/images/logomedical.jpg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Font Awesome -->
    <!-- Start css -->
    <!-- Slick css -->
    <link href="assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="assets/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$("#myModal").modal({
			show: true,
			backdrop: 'static',
			keyboard: false
		});
	});
</script>
</head>
<body>
<div id="myModal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<div class="row">
					<div class="">
						<div class="col-3 text-right mr-4">
							<p style="color: red;"><em>UBA</em></p>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="acceptAchatUBA"
								value="On" onclick="ahoooUBA()">
								<label class="custom-control-label" for="acceptAchatUBA"></label>
							</div>
						</div>
					</div>
					<div class="">
						<div class="col-3 text-right  mr-4" >
							<p style="color: red;"><em>MTN</em></p>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="acceptAchatMTN"
									 onclick="ahoooMTN()">
								<label class="custom-control-label" for="acceptAchatMTN"></label>
							</div>
						</div>
					</div>
					<div class="">
						<div class="col-3 text-right  mr-4">
							<p style="color: red;"><em>MOOV</em></p>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="acceptAchatMOOW"
									onclick="ahoooMOOW()">
								<label class="custom-control-label" for="acceptAchatMOOW"></label>
							</div>
						</div>
					</div>
				</div>
            </div>
			<span id="receveValidate"></span>
            <div class="modal-body">
				  <!--	Start Chat Detail  -->
   <div class="chat-detail" id="chat-detaila" >
	<div class="chat-body" style="height: 65vh;">
		<div class="tab-content" id="chat-listContent" >
			<div class="tab-pane fade show active" id="chat-first" role="tabpanel" aria-labelledby="chat-first-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse" id="taday">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Hello! please, let me know the status about project after school.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>I have completed 4 stages 5 stages remaining.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Let me share video for detailed information</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<div class="message-video">
							<video width="210" controls>
							  <source src="assets/images/video.mp4" type="video/mp4">
							</video>
						</div>
						<span>Demo.mp4</span>
					</div>
					<div class="chat-message-meta">
						<span>4:25 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Thanks for the video.</span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>I am sharing images of project work done so far. <br />Please, have a look at images and let me know if changes required.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:30 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Could you share photos, please?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<ul class="list-inline message-media">
							<li class="list-inline-item">
								<img src="assets/images/media_01.png" class="img-fluid" alt="media">
							</li>
							<li class="list-inline-item">
								<img src="assets/images/media_02.png" class="img-fluid" alt="media">
							</li>
							<li class="list-inline-item">
								<p class="media-more">+07</p>
							</li>
						</ul>
						<span>Photos of product</span>
					</div>
					<div class="chat-message-meta">
						<span>4:32 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>I request you to schedule demo at 3 pm after 2 days for the better progress. <br />After that we are discussion of final confirmation this project.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<div class="message-audio">
							<audio controls>
							  <source src="assets/images/audio.mp3" type="audio/mpeg">
							</audio>
						</div>
					</div>
					<div class="chat-message-meta">
						<span>4:38 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
			   <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<ul class="list-unstyled message-document">
							<li class="media">
								<img class="align-self-center img-fluid mr-2" src="assets/images/pdf.svg" alt="pdf">
								<div class="media-body">
									<h5><a href="#">Document.pdf</a></h5>
									<p>50kb</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="chat-message-meta">
						<span>4:40 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Please, refer this doc file for documentation.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:41 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Sure, I will prepare for the same.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:43 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Great. Thanks</span>
					</div>
					<div class="chat-message-meta">
						<span>4:45 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-second" role="tabpanel" aria-labelledby="chat-second-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-third" role="tabpanel" aria-labelledby="chat-third-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Hello! I got 95% in Semester 7</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Yay !!!</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Wow! That's great news. Where's the party?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<ul class="list-unstyled message-document">
							<li class="media">
								<img class="align-self-center img-fluid mr-2" src="assets/images/pdf.svg" alt="pdf">
								<div class="media-body">
									<h5><a href="#">Results.pdf</a></h5>
									<p>50kb</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="chat-message-meta">
						<span>4:40 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Thanks I will check and get back.</span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Wow!! great continuity.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:30 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Thank you for your nice words.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Continue process of improving everyday. <br />I will be there this weekend for further guidance.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                        
				</div>
			<div class="tab-pane fade" id="chat-fourth" role="tabpanel" aria-labelledby="chat-fourth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-fifth" role="tabpanel" aria-labelledby="chat-fifth-tab">
				<div class="chat-day text-center mb-3">
					<span  class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Hi</span>
					</div>
					<div class="chat-message-meta">
						<span >4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Hello</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>How was your day going?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<div class="message-video">
							<video width="210" controls>
							  <source src="assets/images/video.mp4" type="video/mp4">
							</video>
						</div>
						<span>partytime.mp4</span>
					</div>
					<div class="chat-message-meta">
						<span>4:25 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Seems you are enjoying too much in Las Vegas.</span>
					</div>
				</div>
				 <div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Be Responsible. <br />Don't drink and drive. Take the taxi for home.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:30 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>I never drink and drive, ma!!!</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Send me photos of your hotelview as well.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<ul class="list-inline message-media">
							<li class="list-inline-item">
								<img src="assets/images/media_01.png" class="img-fluid" alt="media">
							</li>
							<li class="list-inline-item">
								<img src="assets/images/media_02.png" class="img-fluid" alt="media">
							</li>
							<li class="list-inline-item">
								<p class="media-more">+07</p>
							</li>
						</ul>
						<span>Photos of Nevada Trip</span>
					</div>
					<div class="chat-message-meta">
						<span>4:32 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Wow. That seems so much fun.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Wish, could you be there also.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:41 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>gotta go. See you soon. Take Care</span>
					</div>
					<div class="chat-message-meta">
						<span>4:43 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>You too. Have Fun.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:45 pm<i class="feather icon-clock ml-2"></i></span>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-sixth" role="tabpanel" aria-labelledby="chat-sixth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-seventh" role="tabpanel" aria-labelledby="chat-seventh-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>I love you</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Lol</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>I need you in my life</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
					<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>lol</span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>you are my everything. love you so much</span>
					</div>
					<div class="chat-message-meta">
						<span>4:30 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>LOL</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>iPhone X or iPhone XR</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>iPhone X</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>  
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Lol</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Are you going to buy me that phone?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>  
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>lol</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>     
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Please, tell me yes</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>LOL</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>  
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Why are so many lol</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                            
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>It's thunder from zambia fire.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:33 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                                                       
			</div>
			<div class="tab-pane fade" id="chat-eighth" role="tabpanel" aria-labelledby="chat-eighth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-ninth" role="tabpanel" aria-labelledby="chat-ninth-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>How you doin???</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>I watched F.R.I.E.N.D.S. compeletely.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Let's go party then</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Duh !!! Next time</span>
					</div>
				</div>
				</div>
			<div class="tab-pane fade" id="chat-tenth" role="tabpanel" aria-labelledby="chat-tenth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-eleventh" role="tabpanel" aria-labelledby="chat-eleventh-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Please, pay $100 to megan. I will give it to you when home.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Okay given. Now you owe me $110.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Why 10$ Extra?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Convenience Charge it is.</span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>I am not gonna pay any damn charges.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>                            
				</div>
			</div>
			<div class="tab-pane fade" id="chat-twelth" role="tabpanel" aria-labelledby="chat-twelth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>
			<div class="tab-pane fade" id="chat-thirteenth" role="tabpanel" aria-labelledby="chat-thirteenth-tab">
				<div class="chat-day text-center mb-3">
					<span class="badge badge-secondary-inverse">Today</span>
				</div>                                
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Ding dong. who is it?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:18 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>Lorem Ipsum</span>
					</div>
					<div class="chat-message-meta">
						<span>4:20 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Need some serif.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:22 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>We only have slabs.</span>
					</div>
				</div>
				 <div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Do you have more height or width?</span>
					</div>
					<div class="chat-message-meta">
						<span>4:31 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>                                                
				<div class="chat-message chat-message-left">
					<div class="chat-message-text">
						<span>We are bold.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:41 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
				<div class="chat-message chat-message-right">
					<div class="chat-message-text">
						<span>Fine with it.</span>
					</div>
					<div class="chat-message-meta">
						<span>4:43 pm<i class="fa fa-check ml-2"></i></span>
					</div>
				</div>
			  </div>
			<div class="tab-pane fade" id="chat-fourtinth" role="tabpanel" aria-labelledby="chat-fourtinth-tab">
				<div class="empty-screen">
					<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
					<h4 class="my-3">No Conversation Yet.</h4>
				</div>
			</div>	   
		</div>                    
	 </div>
</div>
		<div class="chat-messagebar" style="margin-top: 7px; margin-bottom: 10px;">
			<form>
				<div class="input-group" >
					<div class="input-group-prepend">
						<a href="#" id="button-addonmic"><i class="material-icons" style="font-size:24px;color:red">mic</i></a>
					</div>  
					<input type="text" class="form-control" placeholder="Type a message..." aria-label="Text" style="border-radius: 30px;">
					<div class="input-group-append">
						<ul class="list-inline float-right mb-0">
							<li class="list-inline-item">
								<div class="dropdown">
									<a href="#" class="mr-3" id="button-addonlink" class="" id="chatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img  src="assets/images/paperclique.svg" alt="Generic placeholder image" style="padding-top: 12px;"></a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="chatDropdown">
										<a class="dropdown-item font-14" href="#"  onclick="openForm()">Envoyer l'rdonnance</a>
										<a class="dropdown-item font-14" href="#">Upload a file</a>
									</div>
								</div>
							</li>
						</ul>
						<a href="#" id="button-addonsend" ><img  src="assets/images/send.svg" alt="Generic placeholder image" style="margin-right: 10px;"></a>
					</div>
				</div>
			</form>
		</div>
            </div>
        </div>
    </div>
</div>
<script>
	//UBA function
	function ahoooUBA(){	 
  currentvalue = document.getElementById('acceptAchatUBA').value;
  if(currentvalue == "Off"){
    document.getElementById("acceptAchatUBA").value="On";
	var on = document.getElementById("acceptAchatUBA").value;
	console.log(on)
	$('#modaleAceptFacturactionUBA').modal({
		show:false
	})
  }else{
    document.getElementById("acceptAchatUBA").value="Off";
	var off = document.getElementById("acceptAchatUBA").value;
	console.log(off)
	document.getElementById('myModal').style.display='none'
	$('#modaleAceptFacturactionUBA').modal({
		show:true,
		backdrop:'static',
		keyboard:false
	})
  } 
}
function refuseFactureUBA(){
	document.getElementById('myModal').style.display='block'
}
	//MTN function
	function ahoooMTN(){	 
  currentvalue = document.getElementById('acceptAchatMTN').value;
  if(currentvalue == "Off"){
    document.getElementById("acceptAchatMTN").value="On";
	var on = document.getElementById("acceptAchatMTN").value;
	console.log(on)
	$('#modaleAceptFacturactionMTN').modal({
		show:false
	})
  }else{
    document.getElementById("acceptAchatMTN").value="Off";
	var off = document.getElementById("acceptAchatMTN").value;
	console.log(off)
	document.getElementById('myModal').style.display='none'
	$('#modaleAceptFacturactionMTN').modal({
		show:true,
		backdrop:'static',
		keyboard:false
	})
  } 
}
function refuseFactureMTN(){
	document.getElementById('myModal').style.display='block'
}
	//MOOW function
	function ahoooMOOW(){	 
  currentvalue = document.getElementById('acceptAchatMOOW').value;
  if(currentvalue == "Off"){
    document.getElementById("acceptAchatMOOW").value="On";
	var on = document.getElementById("acceptAchatUBA").value;
	console.log(on)
	$('#modaleAceptFacturactionMOOW').modal({
		show:false
	})
  }else{
    document.getElementById("acceptAchatMOOW").value="Off";
	var off = document.getElementById("acceptAchatMOOW").value;
	console.log(off)
	document.getElementById('myModal').style.display='none'
	$('#modaleAceptFacturactionMOOW').modal({
		show:true,
		backdrop:'static',
		keyboard:false
	})
  } 
}
function refuseFactureMOOW(){
	document.getElementById('myModal').style.display='block'
}
						 
</script>
<!-------start modaleAceptFacturactionUBA---------->
<!-- Modal -->
<div class="modal fade" id="modaleAceptFacturactionUBA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modaleAceptFacturactionUBALabel"><em>Vous accepter à la pharmacie de vous facturer ?</em> <img src="assets/images/uba.jpg" alt="" style="width: 50px; height: 5Opx;"></h5>
		</div>
		<div class="modal-body">
		  <img src="assets/images/undraw_Payments_re_77x0.svg" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" data-dismiss="modal" onclick="refuseFactureUBA()">Refuser</button>
		  <button type="button" class="btn btn-danger">Accepter</button>
		</div>
	  </div>
	</div>
  </div>
<!-------end modaleAceptFacturactionUBA---------->

<!-------start modaleAceptFacturactionMTN---------->
<!-- Modal -->
<div class="modal fade" id="modaleAceptFacturactionMTN" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modaleAceptFacturactionMTNLabel">Vous accetez à la pharmacie de vous facturer? <img src="assets/images/1.jpg" alt="" style="width: 50px; height: 50px;"></h5>
		</div>
		<div class="modal-body">
		 <img src="assets/images/undraw_Payments_re_77x0.svg" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" data-dismiss="modal" onclick="refuseFactureMTN()">Refuser</button>
		  <button type="button" class="btn btn-danger">Accepter</button>
		</div>
	  </div>
	</div>
  </div>
<!-------end modaleAceptFacturactionMTN---------->

<!-------start modaleAceptFacturactionMOOW---------->
<!-- Modal -->
<div class="modal fade" id="modaleAceptFacturactionMOOW" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modaleAceptFacturactionMOOWLabel">Vous accetez à la pharmacie de vous facturer? <img src="assets/images/2.png" alt="" style="width: 50px; height: 50px;"></h5>
		</div>
		<div class="modal-body">
		 <img src="assets/images/undraw_Payments_re_77x0.svg" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" data-dismiss="modal" onclick="refuseFactureMOOW()">Refuser</button>
		  <button type="button" class="btn btn-danger">Accepter</button>
		</div>
	  </div>
	</div>
  </div>
<!-------end modaleAceptFacturactionMOOW---------->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/detect.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/vertical-menu.js"></script>
<!-- Slick js -->
<script src="assets/plugins/slick/slick.min.js"></script>
<!-- Core js -->
<script src="assets/js/core.js"></script>
<script src="todo.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="testa.js"></script>
<!-- MDB -->
<script>
	AOS.init();
  </script>
</body>
</html>
</body>
</html>