<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
	<meta name="keywords"
		content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk">
	<meta name="author" content="Themesbox">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<title>e-hospital login</title>
	<!-- Fevicon -->
	<link rel="shortcut icon" href="assets/images/logomedical.jpg">
	<!-- Start css -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css">
	<link href="assets/css/style.css" rel="stylesheet" type="text/css">
	<!-- End css -->
</head>

<body class="vertical-layout" id="vertical-layout">
	<!-- Start Containerbar -->
	<div id="containerbar" class="containerbar authenticate-bg">
		<!-- Start Container -->
		<div class="container">
			<div class="auth-box login-box">
				<!-- Start row -->
				<div class="row no-gutters align-items-center justify-content-center">
					<!-- Start col -->
					<div class="col-md-6 col-lg-5">
						<!-- Start Auth Box -->
						<div class="auth-box-right">
							<div class="card" id="doct">
								<div class="card-body">
									<form action="#">
										<div class="form-head">
											<a href="index.html" class="logo"><img src="assets/images/logomedical.jpg"
													class="img-fluid" alt="logo" style="width: 170px; height: 100px;"></a>
										</div>
										<h4 class="text-primary my-4">Connecter!</h4>
										<div class="form-group">
											<input type="text" class="form-control" id="usernameoal" placeholder="Nom"
												required>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="usernameoal"
												placeholder="Prénom" required>
										</div>

										<div class="form-group">
											<input type="password" class="form-control" id="password"
												placeholder="Password" required>
										</div>
										<div class="form-row mb-3">
											<div class="col-sm-6">
												<div class="custom-control custom-checkbox text-left">
													<input type="checkbox" class="custom-control-input" id="rememberme">
													<label class="custom-control-label font-14"
														for="rememberme">se souvenir de moi</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="forgot-psw">
													<a id="forgot-psw" href="forgotpsw.html" class="font-14">Mot de passe oublié ?</a>
												</div>
											</div>
										</div>
										<a href="patient.html" class="btn btn-success btn-lg btn-block font-18"
											id="log">Log in</a>
									</form>
									<div class="dropdown" style="margin-bottom: 15px;">
										<a href="#" class="" id="chatDropdown" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											<p class="mb-0 mt-3">Vous n'avez pas de compte ?
												<!--<a href="register.html">-->S'inscrire
												<!--</a>-->
											</p>
										</a>
										<div class="dropdown-menu dropdown-menu-right" aria-labelledby="chatDropdown"
											style="padding: 30px;">
											<div class="container">
												<h6 style="text-align: center; color: blue;">Vous êtes? </h6>
												<div class="row" style="display: inline-flex;">
													<div class="col-lg-4 col-md-6">
														<a class="dropdown-item font-14" href="#" data-toggle="modal"
															data-target="#partagerEcran">
															<a href="register.html"> <img src="assets/images/men1.png"
																	alt=""
																	style="margin-left: 15px; height: 40px; width: 40px; border-radius: 100%; cursor: pointer;"></a>
															<p style="margin-top: 5px; color: #f82249; margin-left: 15px;">Patient </p>
														</a>
													</div>
													<div class="col-lg-4 col-md-6">
														<a class="dropdown-item font-14" data-toggle="modal"
															data-target="#partagerEcran">
															<img src="assets/images/doctorIcon.svg" alt=""
																style="height: 40px; width:40px;  cursor: pointer; margin-top: 10px;"
																data-toggle="modal" data-target="#exampleModal"
																data-backdrop="static" data-keyboard="false">
															<p style="margin-top: 5px; color: #f82249;">Docteur
															</p>
														</a>
													</div>
													<div class="col-lg-4 col-md-6">
														<a class="dropdown-item font-14" 
															href="registrePharmacie.html">
															<img src="assets/images/doctorIcon.svg" alt=""
																style="height: 40px; width:40px;  cursor: pointer; margin-top: 10px;"
																data-toggle="modal" data-target="#exampleModal"
																data-backdrop="static" data-keyboard="false">
															<p style="margin-top: 5px; color: #f82249;">Pharmacie
															</p>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Docteur inscription</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="auth-box-right">
												<div class="card">
													<div class="card-body">
														<form action="#">
															<div class="form-head">
																<a href="index.html" class="logo"><img
																		src="assets/images/logomedical.jpg"
																		class="img-fluid" alt="logo"
																		style="width: 125px;"></a>
															</div>
															<h4 class="text-primary my-4">S'inscrire !</h4>
															<div class="form-group">
																<input type="text" style="text-transform: uppercase;"
																	class="form-control" id="nomd"
																	placeholder="Entrer votre nom" required>
																<span id="msgnomd"></span>
															</div>
															<div class="form-group">
																<input type="text" class="form-control" id="prenomd"
																	placeholder="Entrer votre prénom" required>
																<span id="msgprenomd"></span>
															</div>
															<div class="form-group">
																<input type="email" class="form-control" id="emaild"
																	placeholder="Entrer votre email" required>
																<span id="msgemaild"></span>
															</div>
															<div class="form-group">
																<input type="password" class="form-control"
																	id="passwordd" placeholder="Entrer votre Mot de passe"
																	required>
																<span id="msgpasswordd"></span>
															</div>
															<div class="form-group">
																<input type="password" class="form-control"
																	id="password1d"
																	placeholder="retapper votre password" required>
																<span id="msgpassword1d"></span>
															</div>
															<div class="form-group">
																<textarea type="password" class="form-control"
																	id="aproposd" placeholder="A propos de vous"
																	required></textarea>
																<span id="msgaproposd"></span>
															</div>
															<div class="form-group">
																<div>
																	<div class="row">
																		<div class="col-8 col-md-4">
																			<h6>Selectionner Votre fonction</h6>
																			<select
																				class="custom-select custom-select-md form-control"
																				id="gender2"
																				style="width: 250px; margin-bottom: 10px;border-radius: 12px;">
																				<option value="Médicin">Médicin</option>
																				<option value="Technicien supérieur">
																					Technicien supérieur</option>
																				<option value="Interne">Interne</option>
																				<option value="Etudiant">Etudiant
																				</option>
																				<option value="Auxiliare de pharmacie">
																					Auxiliare de pharmacie</option>
																				<option value="Sagege femme">Sagege
																					femme</option>
																				<option value="Pharmacien">Pharmacien
																				</option>
																				<option value="Auxiliare de soin">
																					Auxiliare de soin</option>
																				<option value="Infirmier">Infirmier
																				</option>
																				<option
																					value="Administration hospitalière">
																					Administration hospitalière</option>
																				<option value="Personnel hospitalier">
																					Personnel hospitalier</option>
																			</select>
																			<span id="msggender2"></span>

																			<h6>Selectionner une spécialité</h6>
																			<select
																				class="custom-select custom-select-md form-control"
																				id="gender3"
																				style="width: 250px; margin-bottom: 10px; border-radius: 12px;">
																				<option value="Anatomo-pathologie">
																					Anatomo-pathologie</option>
																				<option value="Aide soignant">Aide
																					soignant</option>
																				<option value="Acceuil hospitalier">
																					Acceuil hospitalier</option>
																				<option value="Allergologie">
																					Allergologie</option>
																				<option value="Endrologie">Endrologie
																				</option>
																				<option value="Anesthésie réanimation">
																					Anesthésie réanimation</option>
																				<option value="Auxiliaire de pharmacie">
																					Auxiliaire de pharmacie</option>
																				<option value="Autres">Autres</option>
																				<option value="Caisse">Caisse</option>
																				<option value="Infirmier">Infirmier
																				</option>
																				<option value="Cancérologie">
																					Cancérologie</option>
																				<option value="1">Cardiologie</option>
																				<option value="Cardiologie">Chirigie
																					cardiaque</option>
																				<option value="Chirigie générale">
																					Chirigie générale</option>
																				<option value="Chirigie esthétique">
																					Chirigie esthétique <br> plastique
																					et <br> reconstructive</option>
																				<option value="Chirigie maxilo-faciale">
																					Chirigie maxilo-faciale</option>
																				<option value="Chirigie orthopédique">
																					Chirigie orthopédique</option>
																				<option value="Chirigie viscérale">
																					Chirigie viscérale</option>
																				<option value="Chirigie pédiatrique">
																					Chirigie pédiatrique</option>
																				<option value="Chirigie vasculaire">
																					Chirigie vasculaire</option>
																				<option value="Chirigie thoracique">
																					Chirigie thoracique</option>
																				<option value="Colposcopie">Colposcopie
																				</option>
																				<option value="Cosmétologie">
																					Cosmétologie</option>
																				<option value="1">Cryshérapie</option>
																				<option value="Dermatologie">
																					Dermatologie</option>
																				<option value="Directeur hospitalier">
																					Directeur hospitalier</option>
																				<option value="Endocromologie">
																					Endocromologie</option>
																				<option
																					value="Etudiant en analyse biomédicale">
																					Etudiant en analyse biomédicale
																				</option>
																				<option
																					value="Etudiant en imagérie medicale">
																					Etudiant en imagérie medicale
																				</option>
																				<option value="Edudiant en infirmerie">
																					Edudiant en infirmerie</option>
																				<option value="Edudiant en médcine">
																					Edudiant en médcine</option>
																				<option value="Pharmacien">Pharmacien
																				</option>
																				<option value="Edudiant odontologie">
																					Edudiant odontologie</option>
																				<option value="Edudiant en pharmacie">
																					Edudiant en pharmacie</option>
																				<option value="2">Edudiant en
																					obstétrique</option>
																				<option value="Edudiant en obstétrique">
																					Facturation</option>
																				<option value="Gastro-entrolpgie">
																					Gastro-entrolpgie</option>
																				<option value="Génétique">Génétique
																				</option>
																				<option value="Gériatrie">Gériatrie
																				</option>
																				<option
																					value="Gestionnaire administratif">
																					Gestionnaire administratif</option>
																				<option
																					value="Gestionnaire administratif et financier">
																					Gestionnaire administratif et
																					financier</option>
																				<option value="Hématologie">Hématologie
																				</option>
																				<option value="Gynécolgue">Gynécolgue
																				</option>
																				<option value="Hépato-gastrologie">
																					Hépato-gastrologie</option>
																				<option value="Homéopathie">Homéopathie
																				</option>
																				<option value="Infectilogie">
																					Infectilogie</option>
																				<option
																					value="Infirmier breveté d'Etat">
																					Infirmier breveté d'Etat</option>
																				<option
																					value="Infirmier diplomé d'Etat">
																					Infirmier diplomé d'Etat </option>
																				<option
																					value="Infirmier surveillant d'Etat">
																					Infirmier surveillant d'Etat
																				</option>
																				<option value="Infirmier anesthésie">
																					Infirmier anesthésie</option>
																				<option
																					value="Infirmier(ère) de bloc opératoire ">
																					Infirmier(ère) de bloc opératoire
																				</option>
																				<option value="Interne en médecine">
																					Interne en médecine</option>
																				<option value="Interne en odontologie">
																					Interne en odontologie</option>
																				<option value="Internennen pharmacie">
																					Internennen pharmacie</option>
																				<option value="Kinésithérapeute">
																					Kinésithérapeute</option>
																				<option value="Médecin du travail">
																					Médecin du travail</option>
																				<option
																					value="Medecin responsable de l'information médicale et de l'évaluation">
																					Medecin responsable de l'information
																					médicale et de l'évaluation</option>
																				<option value="Médecine d'urgence">
																					Médecine d'urgence</option>
																				<option
																					value="Médecine de la douleur et paillative">
																					Médecine de la douleur et paillative
																				</option>
																				<option
																					value="Médecine de la nutrition">
																					Médecine de la nutrition</option>
																				<option
																					value="Medecine de la pathologie infectieuse et tropicale,clinique et bilogique">
																					Medecine de la pathologie
																					infectieuse et tropicale,clinique et
																					bilogique</option>
																				<option value="Médecine du sport">
																					Médecine du sport</option>
																				<option value="Médecine générale">
																					Médecine générale</option>
																				<option value="Médecine générale">
																					Médecine générale</option>
																				<option
																					value="Médecine légale et expertises légale médicales">
																					Médecine légale et expertises légale
																					médicales</option>
																				<option value="Médecine nucléaire">
																					Médecine nucléaire</option>
																				<option value="Médecine physique">
																					Médecine physique</option>
																				<option value="Médecine preventive">
																					Médecine preventive</option>
																				<option
																					value="Médecine transfusionnelle">
																					Médecine transfusionnelle</option>
																				<option value="Néonatologie">
																					Néonatologie</option>
																				<option value="Néphrologie">Néphrologie
																				</option>
																				<option value="Neurochirigie">
																					Neurochirigie</option>
																				<option value="Neurologie">Neurologie
																				</option>
																				<option
																					value="Odonto-stomatologie(chirigien-dentiste) ">
																					Odonto-stomatologie(chirigien-dentiste)
																				</option>
																				<option value="Ophtamologie">
																					Ophtamologie</option>
																				<option value="ORL">ORL</option>
																				<option value="Orthophoniste">
																					Orthophoniste</option>
																				<option value="Pédiatrie">Pédiatrie
																				</option>
																				<option value="Pharmacien">Pharmacien
																				</option>
																				<option value="Pharmacien biologiste">
																					Pharmacien biologiste</option>
																				<option
																					value="Pharmacologie clinique et évaluation des thérapeutique">
																					Pharmacologie clinique et évaluation
																					des thérapeutique</option>
																				<option value="Pneumologie">Pneumologie
																				</option>
																				<option value="Psychiatre">Psychiatre
																				</option>
																				<option value="Psycologie">Psycologie
																				</option>
																				<option value="Puériculturee">
																					Puériculturee</option>
																				<option
																					value="Radiologie-imagerie-médicale">
																					Radiologie-imagerie-médicale
																				</option>
																				<option value="Radithérapetie">
																					Radithérapetie</option>
																				<option value="Rhumatologie">
																					Rhumatologie</option>
																				<option
																					value="Santé publique et médecine sociale">
																					Santé publique et médecine sociale
																				</option>
																				<option value="Scientifique">
																					Scientifique</option>
																				<option
																					value="Secrétaiat administratif">
																					Secrétaiat administratif</option>
																				<option value="Sexologie">Sexologie
																				</option>
																				<option
																					value="Spécialiste en hémovigilance">
																					Spécialiste en hémovigilance
																				</option>
																				<option
																					value="Spécialiste pharmacovigilance">
																					Spécialiste pharmacovigilance
																				</option>
																				<option value="Technicien superieur">
																					Technicien superieur</option>
																				<option
																					value="Technicien superieur rn Ophtamologie">
																					Technicien superieur rn Ophtamologie
																				</option>
																				<option
																					value="Technicien en Radiologie-imagerie-médicale">
																					Technicien en
																					Radiologie-imagerie-médicale
																				</option>
																				<option
																					value="Technicien superieur en ORL">
																					Technicien superieur en ORL</option>
																				<option
																					value="Technicien superieur en stomatologie">
																					Technicien superieur en stomatologie
																				</option>
																			</select>
																			<span id="msggender3"></span>
																			<h6>Selectionner votre type d'exercice</h6>
																			<select
																				class="custom-select custom-select-md"
																				id="gender4" style="width: 
																	  250px; margin-bottom: 10px;border-radius: 12px;">
																				<option value="Privée"
																					style="width: 34px;">Privée</option>
																				<option value="Hopital public"
																					style="width: 34px;">Hopital public
																				</option>
																				<option value="Médecin indépendant"
																					style="width: 34px;">Médecin
																					indépendant</option>
																			</select>
																			<span id="msggender4"></span>
																		</div>
																	</div>

																</div>
															</div>
															<div class="form-group">
																<h6>Preuve de votre Proffession</h6>
																<div class="form-group">
																	<input type="file" class="form-control" id="preuve1"
																		placeholder="" required>
																</div>
																<span id="msgpreuve1"></span>
																<div class="form-group">
																	<h6>Preuve de votre identité</h6>
																	<input type="file" class="form-control" id="preuve2"
																		placeholder="" required>
																</div>
																<span id="msgpreuve2"></span>
															</div>
															<div class="form-row mb-3">
																<div class="col-sm-12">
																	<div
																		class="custom-control custom-checkbox text-left">
																		<input type="checkbox"
																			class="custom-control-input" id="terms">
																		<label class="custom-control-label font-14"
																			for="terms">se souvenir de moi?</label>
																	</div>
																</div>
															</div>
																<button class="btn btn-danger btn-lg btn-block font-18" id="log" onclick="registredocteur()">Enregistrer</button>
														</form>
														<p class="mb-0 mt-3">Vous avez déjà un compte ? <a
																href="login.html">Connecter</a></p>
														<!---------------------------->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Auth Box -->
					</div>
					<!-- End col -->
				</div>
				<!-- End row -->
			</div>
		</div>
		<!-- End Container -->
	</div>
	<!-- End Containerbar -->
	<!-- Start js -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModalaproposdocteur" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div style="display: inline-flex;">
						<p class="modal-title" id="exampleModalLabel" style="margin-right: 55px; margin-top: 12px;">
							Votre Inscription est approuvé</p>
						<!--<img src="assets/images/iconmonstr-check-mark-circle-thin.svg" alt=""
				style="width: 40px; height: 40px;"
				>-->
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span id="msgIsci"></span>
					<div class="col-lg-12 col-md-12">
						<img src="./assets/img/undraw_doctor_kw5l.svg" alt="" class="hero"
							style="width: 100%; height: 100%;">
					</div>
					<p><em>Veiller patienter pour vous connecter...</em></p>
				</div>
			</div>
		</div>
		<style>
			.img-modal {
				width: 100%;
				height: 100%;
			}
		</style>
	</div>
	<!-- End col -->
	<script>

		//signup function

		function registredocteur() {

			event.preventDefault()
			var nom = document.getElementById('nomd').value;
			var prenom = document.getElementById('prenomd').value;
			var email = document.getElementById('emaild').value;
			var password = document.getElementById('passwordd').value;
			var password1 = document.getElementById('password1d').value;
			var aproposd = document.getElementById('aproposd').value;
			var gender2 = document.getElementById('gender2').value;
			var gender3 = document.getElementById('gender3').value;
			var gender4 = document.getElementById('gender4').value;
			var preuve1 = document.getElementById('preuve1').value;
			var preuve2 = document.getElementById('preuve2').value;
			// afficher message nom
			if (isNaN(nom)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un nom valide</p>'
				document.getElementById('msgnomd').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msgnomd').style.display = "none"
				}, 6000);
			}
			// afficher message prenom
			if (isNaN(prenom)) {
				msgprenom = ""
			} else {
				msgprenom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un prenom valide</p>'
				document.getElementById('msgprenomd').innerHTML = msgprenom
				setTimeout(() => {
					document.getElementById('msgprenomd').style.display = "none"
				}, 6000);
			}
			// afficher message email
			if (isNaN(email)) {
				msgemail = ""
			} else {
				msgemail = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un email valide</p>'
				document.getElementById('msgemaild').innerHTML = msgemail
				setTimeout(() => {
					document.getElementById('msgemaild').style.display = "none"
				}, 6000);
			}
			// afficher message password
			if (isNaN(password) && password.length >= 10) {
				msgpassword = ""
			} else {
				msgpassword =
					'<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un mot de passe superieur de plus de 9 caractère</p>'
				document.getElementById('msgpasswordd').innerHTML = msgpassword
				setTimeout(() => {
					document.getElementById('msgpasswordd').style.display = "none"
				}, 6000);
			}
			//afficher message aprpos
			if (isNaN(aproposd)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un text valide</p>'
				document.getElementById('msgaproposd').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msgaproposd').style.display = "none"
				}, 6000);
			}

			//afficher message genre1
			if (isNaN(gender2)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un nom valide</p>'
				document.getElementById('msggender2').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msggender2').style.display = "none"
				}, 6000);
			}

			//afficher message gender2
			if (isNaN(gender3)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un nom valide</p>'
				document.getElementById('msggender3').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msggender3').style.display = "none"
				}, 6000);
			}

			//afficher message gender3
			if (isNaN(gender4)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un nom valide</p>'
				document.getElementById('msggender4').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msggender4').style.display = "none"
				}, 6000);
			}

			//afficher message preuve1
			if (isNaN(preuve1)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un fichier</p>'
				document.getElementById('msgpreuve1').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msgpreuve1').style.display = "none"
				}, 6000);
			}
			//afficher message gender3
			if (isNaN(gender3)) {
				msgnom = ""
			} else {
				msgnom = '<p style="color: #D8000C; background-color: #FFBABA;">Veiller entrer un fichier</p>'
				document.getElementById('msgpreuve2').innerHTML = msgnom
				setTimeout(() => {
					document.getElementById('msgpreuve2').style.display = "none"
				}, 6000);
			}


			//disparaître les errors text
			setTimeout(() => {
				if (isNaN(nom) && isNaN(prenom) &&
					isNaN(email) &&
					password.length >= 10 && password1.length >= 10 &&
					password1 === password && isNaN(aproposd) &&
					isNaN(gender2) && isNaN(gender3) &&
					isNaN(gender4)
				) {
					document.getElementById('nomd').value = ""
					document.getElementById('prenomd').value = ""
					document.getElementById('emaild').value = ""
					document.getElementById('passwordd').value = ""
					document.getElementById('password1d').value = ""
					document.getElementById('aproposd').value = ""
					document.getElementById('gender2').value = ""
					document.getElementById('gender3').value = ""
					document.getElementById('gender4').value = ""
					document.getElementById('preuve1').value = ""
					document.getElementById('preuve2').value = ""
					document.getElementById('doct').style.display='none'
					var msgIsci =
						`<p style="font-size:17px; color:#f82249; text-align:center">${nom} ${prenom} <br> e-hospital vous souaite la bienvenue </p>`
					$('#exampleModalaproposdocteur').modal({
						show: true,
						backdrop: 'static',
						keyboard: false,
					})
					document.getElementById('exampleModal').style.display = "none"
					document.getElementById('msgIsci').innerHTML = msgIsci
					setTimeout(() => {
						window.location.href = "indexMonDocteur.html"
					}, 7000)
				} else {
					return false
				}
			}, 3000);


		}
	</script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/modernizr.min.js"></script>
	<script src="assets/js/detect.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<!-- End js -->
</body>

</html>